extends layout_user
block css
  link(rel='stylesheet' href='/css/index.css')
block content
  #headerMain.header-main
    h1.event-title SFF &times; SWITCH 2019
    h5.subheading Idea Ink at
  img#logo.logo(src='images/logo.png' onclick="window.open('https://www.ideaink.co/contact-us', '_blank');")
  .spacer-centered.clearfix
    .divider
  h4.section-title Recently Added
  #recentWrapper.recent-wrapper.clearfix
    .recent-collection
      if items != undefined
        each item in items
          .recent-tile(onclick='itemSelect("'+ item.id +'")')
            .recent-caption.recent-caption-1
              p.recent-name.recent-name-1= item.title
              p.recent-type.recent-type-1= item.type
            .recent-overlay.recent-overlay-1
            img.recent-thumb.recent-thumb-1(src=item.sourceurl)
  h4.section-title.section-title-2 Browse All
  .year-nav.clearfix
    .divider
    #indicator.year-indicator.clearfix
      .indicator-sprite
    p#year19.year-tab-selected 2019
    .year-nav-spacer.year-nav-spacer-1
    p#year18.year-tab.year-tab-1 2018
    .year-nav-spacer.year-nav-spacer-2
    p#year17.year-tab.year-tab-2 2017
    .year-nav-spacer.year-nav-spacer-3
    p#year16.year-tab.year-tab-3 2016
  #browseWrapper.browse-wrapper.clearfix
    #browse2019.browse-2019
      #downloadDay1.list-item-download.clearfix(onclick="window.open('/pdf/SFFxSWITCH19_DAY_1.pdf', '_blank');")
        p.list-caption(style='color: #8f8f8f;') SFF &times; SWITCH 2019
        p.list-title.list-title-1 All Graphic Recordings from Day 1 (PDF)
        img.list-chevron.list-chevron-1(src='/images/icon_chevron.svg')
      #downloadDay2.list-item-download.clearfix(onclick="window.open('/pdf/SFFxSWITCH19_DAY_2.pdf', '_blank');")
        p.list-caption(style='color: #8f8f8f;') SFF &times; SWITCH 2019
        p.list-title.list-title-1 All Graphic Recordings from Day 2 (PDF)
        img.list-chevron.list-chevron-1(src='/images/icon_chevron.svg')
      #festival.list-item.clearfix
        p.list-caption SFF 2019
        p.list-title.list-title-1 Plenary Stage
        img.list-chevron.list-chevron-1(src='/images/icon_chevron.svg')
      #sustainability.list-item.clearfix
        p.list-caption SFF 2019
        p.list-title.list-title-2 Sustainability, Finance and Tech
        img.list-chevron.list-chevron-2(src='/images/icon_chevron.svg')
      #futureFinance.list-item.clearfix
        p.list-caption SFF 2019
        p.list-title.list-title-3 Future of Finance
        img.list-chevron.list-chevron-3(src='/images/icon_chevron.svg')
      #investment.list-item.clearfix
        p.list-caption SFF 2019
        p.list-title.list-title-4 Investment and Global Markets Opportunities
        img.list-chevron.list-chevron-4(src='/images/icon_chevron.svg')
      #exponential.list-item.clearfix
        p.list-caption SFF 2019
        p.list-title.list-title-5 Exponential Technologies
        img.list-chevron.list-chevron-5(src='/images/icon_chevron.svg')
      #coral.list-item.clearfix
        p.list-caption SFF 2019
        p.list-title.list-title-6 Coral Triangle
        img.list-chevron.list-chevron-6(src='/images/icon_chevron.svg')
      #globalAccess.list-item.clearfix
        p.list-caption SWITCH 2019
        p.list-title.list-title-7 Global Access to Innovation
        img.list-chevron.list-chevron-7(src='/images/icon_chevron.svg')
      #IEEE.list-item.clearfix
        p.list-caption SWITCH 2019
        p.list-title.list-title-8 Future Directions with IEEE
        img.list-chevron.list-chevron-8(src='/images/icon_chevron.svg')
      #unravelling.list-item.clearfix
        p.list-caption SWITCH 2019
        p.list-title.list-title-9 Unravelling Healthcare Innovation
        img.list-chevron.list-chevron-9(src='/images/icon_chevron.svg')
      #sustainingFuture.list-item.clearfix
        p.list-caption SWITCH 2019
        p.list-title.list-title-10 Sustaining the Future of Humanity
        img.list-chevron.list-chevron-10(src='/images/icon_chevron.svg')
      #poweringCities.list-item.clearfix
        p.list-caption SWITCH 2019
        p.list-title.list-title-11 Powering Cities of the Future
        img.list-chevron.list-chevron-11(src='/images/icon_chevron.svg')
    #browseDB.browse-db.clearfix
      img#dbIllus.dropbox-illus(src='/images/illus_dropbox.png')
      p.db-caption View everything on
      img#dbLink.dropbox-link(src='/images/btn_dropbox.svg')
block scripts
  script(src='/js/index.js')
  script(src='/js/track.js')
          
