doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0')
    link(rel='icon', href='/favicon.ico')
    title Idea Ink | #{title}
    link(rel='stylesheet' href='/css/standardize.css')
    block css
  body.body.clearfix
    block content
    script(src='/js/script.js')
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js")
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.2.3/firebase-storage.js")
    script(src="/js/init.js")
    block scripts
    
