doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='initial-scale=1.0')
  title 404 | Not Found
  link(rel='stylesheet' href='/css/standardize.css')
  link(rel='stylesheet' href='/css/not_found.css')
img.image(src='/images/illus_empty.png')
h1.title We looked all over :(
p.copy
  | This Graphic Recording has not been uploaded just yet. Get a preview of our book on Visual Intelligence instead!
a#previewBtn.preview.preview-1(href='/book_preview.html' target='_blank') Preview
button#previewBtn.preview.preview-2(onclick='window.history.back();') Go Back
