extends layout_user
block css
  link(rel='stylesheet' href='/css/session.css')
block content
  #headerItem.header-item.clearfix
    h5.subheading= data.day1
    .header-group.clearfix
      h3#itemTitle.item-title= data.title
      img#download.download(src='/images/icon_download.svg' onclick='checkLogin()')
    p#trackName.header-caption= data.track
  img#graphicRecording.graphic-recording(src= data.sourceurl)
  #loginModal.login-modal
    #loginBox.login-box.clearfix
      img#illusLogin.illus-login(src='/images/illus_login.png')
      img#closeBtn.close(src='/images/icon_close.svg' onclick='hideModal()')
      p.modal-title Sign in to Download
      form#loginForm.login.clearfix
        input#email.email(name='email' placeholder='Email Address' type='email')
        input#password.password(name='password' placeholder='Password' type='password')
        button.sign-in(type='submit') Sign In
      p.modal-footer
        | Need an account? 
        a(target='_blank' href='/signup') Create one here.
    #shade.shade
block scripts
  script(src='/js/session.js')
