@font-face {
font-family: "HelveticaNeue-Bold";
src: url("../fonts/HelveticaNeue-Bold.ttf") format("truetype")
}

@font-face {
font-family: "ProximaNova-Regular";
src: url("../fonts/ProximaNova-Regular.otf") format("opentype")
}

@font-face {
font-family: "ProximaNova-Bold";
src: url("../fonts/ProximaNova-Bold.otf") format("opentype")
}

@font-face {
font-family: "ProximaNova-Semibold";
src: url("../fonts/ProximaNova-Semibold.otf") format("opentype")
}

@font-face {
font-family: "FuturaLT-Bold";
src: url("../fonts/FuturaLT-Bold.ttf") format("truetype")
}

.social-icon-1:active,
.social-icon-2:active,
.social-icon-3:active {
  -webkit-filter: brightness(.8);
  -moz-filter: brightness(.8);
  -o-filter: brightness(.8);
  -ms-filter: brightness(.8);
  filter: brightness(.8);
}

body {
  background-color: #ffffff;
  font: normal 0.938em/1.2 ProximaNova-Regular;
  color: rgb(95, 95, 95);

  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.close {
  display: block;
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 17;
  width: 18px;
  height: auto;
  overflow: hidden;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.close:active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: brightness(.8);
  -moz-filter: brightness(.8);
  -o-filter: brightness(.8);
  -ms-filter: brightness(.8);
  filter: brightness(.8);
}

.copyright {
  width: 100%;
  margin: 35px auto 0;
  font: 0.667em/1.38 FuturaLT-Bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(190, 190, 190);
}

.download {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 42px;
  height: auto;
  overflow: hidden;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.download:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: brightness(.9);
  -moz-filter: brightness(.9);
  -o-filter: brightness(.9);
  -ms-filter: brightness(.9);
  filter: brightness(.9);
}

.email {
  display: block;
  width: 240px;
  height: 35px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(240, 240, 240);
  font-size: 1em;
  line-height: 1;
  color: rgb(0, 0, 0);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.email:focus {
  border-bottom-width: 2px;
  border-bottom-color: rgb(254, 191, 69);
}

.footer {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 150px;
  margin: 10px auto 0;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.footer:active {
  background-color: rgba(0, 0, 0, 0);
}

.footer-divider {
  width: 100%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid rgb(240, 240, 240);
  font: 0.867em/2.4 ProximaNova-Semibold;
  color: rgb(190, 190, 190);
}

.graphic-recording {
  display: block;
  position: relative;
  z-index: 14;
  width: 100%;
  height: auto;
  margin: 10px auto 0;
  overflow: hidden;
}

.header-caption {
  float: left;
  clear: both;
  width: 250px;
  margin-top: 20px;
  font-size: 0.933em;
  color: rgb(95, 95, 95);
  cursor: pointer;
}

.header-group {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
}

.header-item {
  position: relative;
  z-index: 13;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px 25px 24px;
  border-bottom: 1px solid rgb(240, 240, 240);
  background-color: white;
}

.illus-login {
  display: block;
  position: relative;
  float: left;
  z-index: 16;
  width: 160px;
  height: auto;
  margin: 35px 0 0 64px;
  overflow: hidden;
}

.item-title {
  float: left;
  width: 240px;
  font-family: HelveticaNeue-Bold;
  font-size: 1.533em;
  color: rgb(57, 58, 63);
}

.login {
  width: 100%;
  margin: 15px auto 0;
}

.login-box {
  position: absolute;
  top: -150%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 24;
  width: 290px;
  height: 450px;
  margin: auto;
  border-radius: 15px;
  background-color: white;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 25;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: scroll;
  opacity: 0;
  display: none;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}

.modal-footer {
  width: 100%;
  margin: 26px auto 0;
  font-size: 1em;
  text-align: center;
  color: rgb(95, 95, 95);
}

.modal-title {
  margin: 216px auto 0;
  font-family: ProximaNova-Bold;
  font-size: 1.333em;
  text-align: center;
  color: rgb(57, 58, 63);
}

.password {
  display: block;
  width: 240px;
  height: 35px;
  margin: 5px auto 0;
  border-bottom: 1px solid rgb(240, 240, 240);
  font-size: 1em;
  line-height: 1;
  color: rgb(0, 0, 0);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.password:focus {
  border-bottom-width: 2px;
  border-bottom-color: rgb(255, 200, 0);
}

.shade {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background-color: rgba(57, 58, 63, 0.8);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.sign-in {
  display: block;
  width: 130px;
  height: 32px;
  margin: 26px auto 0;
  border-radius: 50px;
  background-color: rgb(255, 200, 0);
  font: 0.933em/1 Futura-Bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(57, 58, 63);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.sign-in:active {
  background-color: rgb(57, 58, 63);
  color: rgb(240, 240, 240);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -o-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95);
}

.social-icon {
  display: block;
  float: left;
  width: 40px;
  height: auto;
  overflow: hidden;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.social-icon:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.socials {
  width: 250px;
  height: 40px;
  margin: 35px auto 0;
}

.subheading {
  float: left;
  width: 230px;
  font: 0.867em/1.38 FuturaLT-Bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(190, 190, 190);
}

.social-icon-2,
.social-icon-3,
.social-icon-4 {
  margin-left: 30px;
}

.social-icon-4:active {
  -webkit-filter: brightness(.9);
  -moz-filter: brightness(.9);
  -o-filter: brightness(.9);
  -ms-filter: brightness(.9);
  filter: brightness(.9);
}

.modal-footer a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}
